
body {
			margin-top: 2em;
	}

.display {
	font-size: 2.5rem;
}

.display p {
	margin-top: 2em;
	margin-bottom: 1em;
	line-height: 1em;
}

.display p:first-child {
	font-size: 175%;

}

#wordcount, #duration {
	font-weight: bold;
	font-size: 110%;
	white-space: nowrap;
}

.literature {
	font-size: 2rem;
}

.navigation-overlay {
	font-size: 1.5rem;
	font-family: Georgia, serif;
	position: fixed;
	bottom: 2rem;
	padding: 1rem;
	border: double 3px darkgrey;
	width: 55rem;
}

.initially-hidden {
	display: none;
}

.menu-button {
	position: fixed;
	display: block;
	right: 2rem;
	bottom: 2rem;
	height: 3rem;
	width: 3rem;
	font-size: 2rem;
	padding: 0.1rem;	
}