<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link href="https://pasteup.guim.co.uk/0.0.2/css/pasteup.min.css" rel="stylesheet"/>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		 <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>

		<script src="/static/js/knockout-2.2.0.js"></script>
		<script src="/static/js/jintervals-0.7-min.js"></script>
		<script src="/static/js/juxtapose.js"></script>
		<script src="/static/js/coffee-script.js"></script>
		<script src="/static/js/Bacon.js"></script>

		<link href="/static/css/base.css" rel="stylesheet"/>
		<link rel="shortcut icon" href="https://static.guim.co.uk/favicon.ico" type="image/x-icon" />
	</head>

	<body>
		{% block content %}
		{% endblock %}
	</body>
</html>