{% extends 'base.html' %}

{% block title %}Guardian word count{% endblock %}

{% block content %}
<div class="fluid-wrap">
	<div class="fluid-row">
		<div class="col-12">
			<h1 class="article-heading">Guardian word count</h1>

			<blockquote>What has the Guardian published and how long would it take to read it?</blockquote>
		</div>
	</div>

	<div class="fluid-row margin-top">
		<div class="display col-8">

			<p>Today the Guardian has published <span id="wordcount" data-bind="text: wordcount"></span> words.</p>
		</div>
		<div class="col-4">
			<h2 class="sub-heading">Links</h2>

			<ol>
				<li><a href="/tasks/today/count">Run calculation</a></li>
			</ol>


		</div>
	</div>
</div>

<script>
	var summaryData = {
		"wordcount" : ko.observable(0),
		"readingMinutes" : ko.observable(0)
	};

	ko.applyBindings(summaryData);
</script>
{% endblock %}
