{% extends 'base.html' %}

{% block title %}Guardian word count{% endblock %}

{% block content %}
<div class="fluid-wrap">
	<div class="fluid-row">
		<div class="col-12">
			<h1 class="article-heading">Guardian word count</h1>

			<blockquote>What has the Guardian published and how long would it take to read it?</blockquote>
		</div>
	</div>

	<div class="fluid-row margin-top">
		<div class="col-8">
			<p id="wordcount"></p>
		</div>
		<div class="col-4">
			<h2 class="sub-heading">Links</h2>

			<ol>
				<li><a href="/tasks/today/count">Run calculation</a></li>
			</ol>


		</div>
	</div>
</div>

{% endblock %}
