{% extends 'base.html' %}

{% block title %}Guardian word count{% endblock %}

{% block content %}
<div class="fluid-wrap">
	<div class="fluid-row margin-top">
		<div id="display" class="display col-12">

			<p>Today, the Guardian has published <span id="wordcount" data-bind="text: wordcount"></span> words.</p>
			<p>The average reader would take <span id="duration" data-bind="text: duration">_</span> to read today's content.</p>



		</div>
	</div>
	<div class="fluid-row">
			<div class="admin col-12">
			<h2 class="sub-heading">Admin</h2>

			<ol>
				<li><a href="/tasks/today/count">Run calculation</a></li>
			</ol>
			</div>
	</div>
</div>



<script>
	var summaryData = {
		wordcount : ko.observable(0),
		duration : ko.observable(0)
	};

	ko.applyBindings(summaryData);

	function update() {
		$.getJSON("/api/today", function(data) {
			//console.log(data);
			if(summaryData.wordcount != 0 && data.wordcount != summaryData.wordcount) {
				$('#wordcount').effect("highlight", {}, 2000);
			}

			summaryData.wordcount(data.wordcount);

			summaryData.duration(jintervals(data.reading_minutes * 60, "{days?} {hours?} {minutes}"));

		});
	};

	update();

	var updaterId = setInterval(update, 2 * 60 * 1000);
</script>
{% endblock %}
